<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong> Entry</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Cost" matInput [(ngModel)]="local_data.cost">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Earning" matInput [(ngModel)]="local_data.earning">
  </mat-form-field>
  <ng-template #elseTemplate>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
