h1 {
  color: white;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.amount {
  color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 25px;
}
.earning-ratio{
  color: green;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 5%);
  padding: 10px;
  font-size: 12px;
  font-weight:bold;

}

.has-earning-color{
  color:green;
}


.amount-wrapper {
  transform: translate(0%, 0%);
  padding: 25px;
}


