
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}


.mat-column-action {
  width: 60px;
  color: white;
}

table {
  background-color: #202124;
  width: 90vw;
}

.history-table {
  height: 55vh;;
  overflow-y: auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .history-table {
    height: 50vh;;
  }
}
